---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from '../../components/ProjectCard.astro';

import { getCollection } from "astro:content";

const projects = await getCollection("projects");
console.log("🚀 ~ projects:", projects)
---

<Layout>
    <h1 class="font-bold text-3xl text-center">My Projects</h1>
    <section class="px-6 lg:px-10 py-10 lg:py-14 mx-auto max-w-7xl">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
            {projects.map(project => (
                <ProjectCard project={project} />
            ))}
        </div>
    </section>
</Layout>