---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <section
    class="relative flex flex-col-reverse lg:flex-row items-center justify-between gap-12 md:gap-20 px-6 md:px-16 py-16 md:py-24 mx-auto max-w-7xl"
  >
    <!-- Text Section -->
    <div class="lg:w-1/2 space-y-6 md:text-left text-center">
      <h2 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white">
        Hey there! 👋 I’m <span class="text-blue-500">Chafik Chegma</span>
      </h2>
      <p class="text-lg text-gray-600 dark:text-gray-300 leading-relaxed">
        A <span class="font-semibold text-gray-900 dark:text-white"
          >Full-stack Web Developer</span
        > passionate about building intuitive digital experiences. I specialize in
        crafting robust backends with <span class="text-blue-500">Laravel</span>
        and dynamic frontends using modern Frameworks like: <span class="text-pink-500">Vue.js, Nuxt and Astro.js</span> blending
        performance, functionality, and creativity in every project I take on.
      </p>
      <p class="text-lg text-gray-600 dark:text-gray-300 leading-relaxed">
        My journey in web development started from curiosity and grew into a
        deep passion for solving real-world problems through code.
      </p>
      <ul class="text-gray-600 dark:text-gray-300 space-y-2">
        <li>✅ Writing clean, scalable, and well-structured code</li>
        <li>🎨 Designing interfaces that feel effortless to use</li>
        <li>🚀 Learning continuously, because tech never stands still</li>
      </ul>
      <p class="text-lg text-gray-600 dark:text-gray-300 leading-relaxed">
        I’m always open to new opportunities, collaborations, or simply
        connecting with other developers and creators who share the same passion
        for technology.
      </p>
    </div>

    <!-- Image Section -->
    <div class="relative group md:w-1/2 flex justify-center">
      <Image
        src={"/hero-image.jpg"}
        alt="Chafik profile image"
        width="400"
        height="400"
        class="relative z-10 rounded-full shadow-xl border-4 border-white/20"
      />
    </div>
  </section>

  <section class="px-6 lg:px-10 py-16 lg:py-18 mx-auto max-w-7xl">
    <div class="flex flex-col space-y-4 mb-12">
      <h2 class="text-center font-bold text-3xl">My Career</h2>
      <p class="text-center font-normal text-md">
        Discover the highlite of my career
      </p>
    </div>
    <ol class="relative border-s border-default">
      <li class="mb-10 ms-6">
        <div
          class="absolute w-3 h-3 bg-neutral-quaternary rounded-full mt-1.5 -start-1.5 border border-buffer"
        >
        </div>
        <time
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded"
          >April 27th - October 30th, 2025</time
        >
        <h3
          class="flex items-center mb-1 text-lg font-semibold text-heading my-2"
        >
          Full-stack web developer <span
            class="ms-2 bg-brand-softer border border-brand-subtle text-fg-brand-strong text-xs font-medium px-1.5 py-0.5 rounded"
            >Latest</span
          >
        </h3>
        <p class="mb-4 text-body">6 Month internship at TiniTec</p>
        <a
          href="/public/Resume.pdf"
          target="_blank"
          class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
        >
          <svg
            class="w-4 h-4 me-1.5 -ms-0.5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-graduation-cap-icon lucide-graduation-cap"
            ><path
              d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"
            ></path><path d="M22 10v6"></path><path
              d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"></path></svg
          >
          View Certificate
        </a>
      </li>
      <li class="mb-10 ms-6">
        <div
          class="absolute w-3 h-3 bg-neutral-quaternary rounded-full mt-1.5 -start-1.5 border border-buffer"
        >
        </div>
        <time
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded"
          >September 15th, 2022 - June 26th, 2024</time
        >
        <h3
          class="flex items-center mb-1 text-lg font-semibold text-heading my-2"
        >
          Master in Radio Mobile Network
        </h3>
        <p class="mb-4 text-body">
          Master's degree from Sciences and Technology University Houari
          Boumediene in Radio Mobile Network
        </p>
      </li>
      <li class="mb-10 ms-6">
        <div
          class="absolute w-3 h-3 bg-neutral-quaternary rounded-full mt-1.5 -start-1.5 border border-buffer"
        >
        </div>
        <time
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded"
          >October 10th, 2019 - July 21st, 2022</time
        >
        <h3
          class="flex items-center mb-1 text-lg font-semibold text-heading my-2"
        >
          Bachelor in Telecommunication
        </h3>
        <p class="mb-4 text-body">
          Bachelor's degree from Sciences and Technology University Houari
          Boumediene in Telecommunication
        </p>
      </li>
    </ol>
  </section>
</Layout>
