---
import Contact from "../components/Contact.astro";
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h2 class="text-center font-bold text-3xl mt-8 md:mt-20">Contact</h2>

  <Contact />
</Layout>
