---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import LogoWall from "../components/LogoWall.astro";
import Contact from "../components/Contact.astro";
import Testimonial from "@/components/Testimonial.astro";
import { getCollection } from "astro:content";
import ProjectCard from "@/components/ProjectCard.astro";

const projects = await getCollection("projects");

const filteredProjects = projects.slice(0, 3);
console.log("🚀 ~ filteredProjects:", filteredProjects);
---

<Layout desc="Passionate web developer crafting modern, responsive, and user-friendly websites that bring ideas to life with clean design and efficient code.">
  <Hero />

  <LogoWall />

  <section id="project" class="px-6 lg:px-10 py-16 lg:py-18 mx-auto max-w-7xl mt-8 md:mt-12">
    <h2 class="text-center font-bold text-3xl">Projects</h2>
    <p class="text-center text-md mt-4">View some of previous work</p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
      {filteredProjects.map((project) => <ProjectCard project={project} />)}
    </div>

    <a href="/project" class="flex justify-center mt-16"
      ><button class="px-4 py-2 rounded-md font-bold text-white bg-black dark:bg-white dark:text-black"
        >View all projects</button
      ></a
    >
  </section>

  <h2 class="text-center font-bold text-3xl mt-10 md:mt-16">Contact</h2>

  <Contact />

  <Testimonial />
</Layout>
