---
import Header from "@/components/Header.astro";
import "../styles/global.css";
import "@/styles/starwind.css";
import Footer from "@/components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Chafik Chegma | Portfolio</title>
  </head>
  <body>
    <Header />

    <main class="grow justify-center px-8 py-4 mx-auto">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<script is:inline>
  const menuBtn = document.getElementById("menu-btn");
  const menu = document.getElementById("menu");

  menuBtn?.addEventListener("click", (e) => {
    e.stopPropagation();
    menu?.classList.toggle("hidden");
  });

  document.addEventListener("click", (e) => {
    if (!menu?.classList.contains("hidden")) {
      // const target = e.target as Node;
      const isClickInsideMenu = menu?.contains(e.target);
      const isClickOnButton = menuBtn?.contains(e.target);

      if (!isClickInsideMenu && !isClickOnButton) {
        menu?.classList.add("hidden");
      }
    }
  });
</script>
